html {
  height: 100%;
  width: 100%;
  border: solid 2px yellow;
  
}

* {
  /* border: solid 2px blue;  */
  font-family: times-new-roman;
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
   
}

main {
  padding-left: 16px; 
  padding-right:16px; 
  padding-top: 0; 
  padding-bottom: 0; 
  background-color: #FAF9F6;
}

/*
.section__introduction {
  display: flex; 
  justify-content: center;  
  align-items: center; 
  flex-basis: 43% 43%; 
}*/

/*a:hover {
  color: white; 
}*/

/*removed boostrap styling of navbar-dark and changed all links to white and made active link bold - this worked but unable to change toggler to white so reverted. 
a.navbar-brand, a.nav-link {
  color: white; 
}

li.active {
  font-weight: bold; 
}*/

/*added back in navar-dark to navbar as toggler dissappeared and couldn't make it go white so changed back to how it was. 

span.navbar-toggler-item {
  color: white; 
}*/

.img__hero {
  margin-top: 3em !important;
}


h2 {
  margin-top: 0.5em; 
}

/*h1.text-left, p.text-left { 
  font-size: 2em;  
}*/


/*.carousel-indicators {
  color: blue; 
}*/

.carousel-caption {
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  right:50%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }

#caption-slide2 {
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  left:45%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }


#title { 
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  right:65%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }
/* No idea how this works - from: https://forum.bootstrapstudio.io/t/positioning-of-carousel-caption/4727/2 */ 

/*googleThe z-index CSS property sets the z-order of a positioned element and its descendants or flex items. Overlapping elements with a larger z-index cover those with a smaller one.*/

/*I was applying the flex and grif properties to the next parent down (wrapper) rather than the main section - now with minimal code works fine!!!*/
.workshops--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.workshops--grid--wrapper {
  /* background-color: pink;  */
}

.workshops--card {
  text-align: center; 
  position: relative; 
  margin: 2rem 3rem;  
  /* margin: 6rem 6rem;  */
  /* padding: 15%; */
  /* set height or width of cards to make smaller? */
}


.img--workshops--card {
  background-image: url("https://i.postimg.cc/R06vhZFX/bad-hair-day-500-x-500-46-3kb.jpg");
  height: 12rem; 
  width: auto; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden; 
}

.workshop--title {
  margin-top: 2rem; 
  font-size: 1.2rem; 
  color: black; 
  }

.workshop--description {
  color: black; 
  background-color: beige; 
  margin-left: 1rem; 
  margin-right: 1rem; 
}


.btn--workshops {
  background-color: blue; 
  width: 100%; 
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}



.welcome--card {
  background: pink; 
  position: relative; 
  display: flex; 
  flex-direction: column;  
  align-items: center; 
  border-radius: 1rem; 
  margin: 2rem; 
}


@media screen and (min-width: 1200px) {
.section--welcome--wrapper {
  background-color: orange; 
  position: relative; 
  display: flex; 
  justify-content: center;  /*fixed by changing the width of the .welcome--card*/
 /* margin-left: 20rem; 
  margin-right: 20rem; 
  margin-top: -5px; 
  margin-bottom: -5px;   Neeed to work out how to make box smaller without messing with margins 
}*/ 
}
.welcome--card {
  background: pink; 
  position: relative; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  border-radius: 1rem; 
  margin: 4rem 4rem; 
  width: 40vw; 
  height: auto; 
  }
  .img--welcome--card {
  background: blue; 
  margin-left: 1rem; 
  margin-bottom: 1rem; 
}
} 

/* @media screen and (min-width: 500px) { 
.section--welcome--wrapper {
  margin: auto auto; 
}
.welcome--card {
  background: pink; 
  position: relative; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  border-radius: 1rem; 
  margin: auto auto; 
  }
  .img--welcome--card {
  background: blue; 
  margin-left: 1rem; 
  margin-bottom: 1rem; 
}
}  */
  


.img--welcome--card {
  background: blue; 
  margin-top: 1rem; 
}

.welcome--text {
  background: purple; 
  overflow: hidden;
  margin: 1.5rem; 
  text-align: center; 
}


.img--blue-tit {
  width: 8rem;  
  height: 8rem; 
  border-radius: 50%; 
  margin-bottom: 2rem; 
  margin-top: 1.5rem; 
}
/* sign up form - need to make form responsive - either make whole page background image or find out how to make background image responsive. */

.register--page {
  background-color: pink; 
  height: 100vh; 
}


.section--sign-up-form {
  display: grid; 
  justify-content: center; 
  align-items: center; 
  background-color: cyan; 
  height: 100vh; 
  margin-top: 3rem; 
  }

@media only screen and (max-width: 600px) {
.section--sign-up-form {
  display: grid; 
  justify-content: center; 
  align-items: start; 
  background-color: cyan; 
  height: 100vh; 
  margin-top: 6rem; 
  margin-bottom: 0rem; 
  }
}
  /* display: grid; 
  justify-content: center; 
  align-items: center;  */ 
  /* height: 100vh;  */
  /* margin-left: 8rem; 
  margin-right: 8rem;  again - want to make it a square ish sign up box and responsive*/
  

 .signup--form {
  background-image: url("https://i.postimg.cc/52GgHYJm/butterfly-500-x-500.jpg");
  background-color: #343a40;
  height:auto; 
  width: 100%; 
  padding: 1.5rem;
  border-radius: 0.5rem; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  color: white;
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  align-content: center; 
}

.form__group {
  display: flex; 
  flex-direction: column;  
  justify-content: center; 
  align-content: center; 
  padding-left: 6rem;  
  padding-right: 6rem;
  
} 

.registration--text {
  text-align: center;
  
  font-weight: bold; 
  color: white; 
}

p.registration--text {
  font-size: 1.3rem; 
}
.select--btn {
  border-radius: 0.2rem;
  padding: 0.3rem; 
  text-align: center; 
}

.input__signup {
  border-radius: 0.2rem; 
  padding: 0.3rem; 
  font-family: tahoma; 
  
}
.select__workshops {
  margin-top: 0.8rem; 
  margin-bottom: 0.8rem; 
  display: flex; 
  justify-content: center; 
  font-family: tahoma; 
  
  
  /* font-family: inherit;  */
  /* font-size: 1.5rem;  applies to select only*/
}

.button__submit {
  text-align: center; 
  font-family: tahoma; 
}
.btn--form {
  border-radius: 0.2rem;
  padding: 0.5rem; 
}

/* .signup--radiobtn {
  display: flex; 
  flex-direction: column; 
} */

footer {
  background-color: #343a40;
  color: white; 
  /*Using web dev tools got padding of header and matched in footer - 8px 16px.*/
  padding: 8px 16px; 
}

.footer--workshopg {
  position: relative; 
  margin-bottom: 0; 
}


/*
.container__horse {
  margin-top: 3em !important;
  width: 100vw; 
  margin: auto; 
}*/

/*
.horse__margin {
  padding-right: 3em;
  padding-left: 3em;
}*/

/*
div.card {
  display: flex; 
  flex-direction:row-reverse!important; 
}

.container-horse {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}


/*img {
  max-width: 100%; 
  height: auto;  
}*/
.horsing {
  flex-basis: 20%;  
}

.text-horse {
  font-size: 20px;
  text-align: center; 
  display: flex; 
  align-self: center; 
  
  
}

/*attempted to align button as couldn't align with card-deck.  Other option is to put button somewhere else. 
.card-footer-align { 
  padding-top: 2.4em!important; 
}

Fixed by putting button below the image and above the title*/
  
  
