/* Added basic styling for page, template for carousel and started modifying carousel */
/* Worked on basic structure of workshop cards */
html {
  height: 100%;
  width: 100%;
  border: solid 2px yellow;
  
}

* {
  border: solid 2px blue; 
  font-family: times-new-roman;
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
}

main {
  padding-left: 16px; 
  padding-right:16px; 
  padding-top: 0; 
  padding-bottom: 0; 
}

/*
.section__introduction {
  display: flex; 
  justify-content: center;  
  align-items: center; 
  flex-basis: 43% 43%; 
}*/

/*a:hover {
  color: white; 
}*/

/*removed boostrap styling of navbar-dark and changed all links to white and made active link bold - this worked but unable to change toggler to white so reverted. 
a.navbar-brand, a.nav-link {
  color: white; 
}

li.active {
  font-weight: bold; 
}*/

/*added back in navar-dark to navbar as toggler dissappeared and couldn't make it go white so changed back to how it was. 

span.navbar-toggler-item {
  color: white; 
}*/

.img__hero {
  margin-top: 3em !important;
}


h2 {
  margin-top: 0.5em; 
}

/*h1.text-left, p.text-left { 
  font-size: 2em;  
}*/


/*.carousel-indicators {
  color: blue; 
}*/
/* Carousel template bootstrap to modify */
.carousel-caption {
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  right:50%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }

#caption-slide2 {
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  left:45%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }


#title { 
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  right:65%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }

/* template of carousel from: https://forum.bootstrapstudio.io/t/positioning-of-carousel-caption/4727/2 */ 


/* Practicing using grid to create cards */
.workshops--grid--wrapper {
  display: grid; 
  grid-template-columns: minmax(75px, 1fr);
  justify-content: center; 
  grid-gap: 2rem; 
  margin: 3rem; 
  
}

.workshops--card {
  text-align: center; 
  position: relative; 
}

.img--workshops--card {
  background-image: url("https://i.postimg.cc/R06vhZFX/bad-hair-day-500-x-500-46-3kb.jpg");
  height: 15rem; 
  width: 100%; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden; 
}

.workshop--title {
  margin-top: 2rem; 
  font-size: 1.75rem; 
  }


.btn--workshops {
  background-color: blue; 
  width: 100%; 
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}


/*@media screen and (min-width: 500px) {
  .workshops--grid--wrapper {
    grid-template-columns: minmax(75px, 1fr);
    /*grid-gap: 0.5em; */
    /*margin: 0.5; */
   /* margin-right: 2rem; */
   /* justify-content: center; 
   /* justify-content: center; changed this last*/
    /*display:inline-flex; /*Because both flex and grid are applied to one element it's responding to the last stated element (flex) so grid is having no effect. 
    Next: apply inline flex to the children (cards) and see if that sorts out issues. */
   /* background-color: #343a40;
    color: white;
    }
}

/*still need to do more work on margins*/

@media screen and (min-width: 500px) {
  .workshops--grid--wrapper {
    grid-template-columns: repeat(2,1fr); 
    display: flex; 
    background-color: black; 
     }
}

/* @media screen and (min-width: 500px) {
  .workshops--section {
     }
} */

@media screen and (min-width: 760px) {
    .workshops--section {
    display: flex; 
    width: auto; 
    justify-content: center;  
    /*In order to get items in one block and spaced evenly had to apply flex to the parent container rather than to the workshops-grid-wrapper (which actually controls the individual cards) */
  }
  
  .workshops--grid--wrapper{
    /*grid-template-columns: repeat(3, 1fr);*/
    display: flex;  
    background-color: #343a40;
    color: white; 
  }
}

footer {
  background-color: #343a40;
  color: white; 
  /*Using web dev tools got padding of header and matched in footer - 8px 16px.*/
  padding: 8px 16px; 
}




/*attempted to align button as couldn't align with card-deck.  Other option is to put button somewhere else. 
.card-footer-align { 
  padding-top: 2.4em!important; 
}

Fixed by putting button below the image and above the title*/
  