html {
  height: 100%;
  width: 100%;
  border: solid 2px yellow;
  
}

* {
  border: solid 2px blue; 
  font-family: times-new-roman;
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
   
}

main {
  padding-left: 16px; 
  padding-right:16px; 
  padding-top: 0; 
  padding-bottom: 0; 
}

/*
.section__introduction {
  display: flex; 
  justify-content: center;  
  align-items: center; 
  flex-basis: 43% 43%; 
}*/

/*a:hover {
  color: white; 
}*/

/*removed boostrap styling of navbar-dark and changed all links to white and made active link bold - this worked but unable to change toggler to white so reverted. 
a.navbar-brand, a.nav-link {
  color: white; 
}

li.active {
  font-weight: bold; 
}*/

/*added back in navar-dark to navbar as toggler dissappeared and couldn't make it go white so changed back to how it was. 

span.navbar-toggler-item {
  color: white; 
}*/

.img__hero {
  margin-top: 3em !important;
}


h2 {
  margin-top: 0.5em; 
}

/*h1.text-left, p.text-left { 
  font-size: 2em;  
}*/


/*.carousel-indicators {
  color: blue; 
}*/

.carousel-caption {
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  right:50%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }

#caption-slide2 {
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  left:45%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }


#title { 
  width:200px; 
  z-index:10; 
  color:#fff; 
  text-align:center; 
  top:50%; 
  right:65%; 
  bottom:auto; 
  -webkit-transform:translate(0, -50%); 
  -ms-transform:translate(0, -50%); 
  transform:translate(0, -50%); }
/* from: https://forum.bootstrapstudio.io/t/positioning-of-carousel-caption/4727/2 */ 

/*googleThe z-index CSS property sets the z-order of a positioned element and its descendants or flex items. Overlapping elements with a larger z-index cover those with a smaller one.*/
/*I was applying the flex and grid properties to the next parent down (wrapper) rather than the main section - now with minimal code works fine*/
.workshops--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
  
.workshops--card {
  text-align: center; 
  position: relative; 
  margin: 2rem 3rem; 
}

.img--workshops--card {
  background-image: url("https://i.postimg.cc/R06vhZFX/bad-hair-day-500-x-500-46-3kb.jpg");
  height: 15rem; 
  width: 100%; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden; 
}

.workshop--title {
  margin-top: 2rem; 
  font-size: 1.75rem; 
  }


.btn--workshops {
  background-color: blue; 
  width: 100%; 
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
}



footer {
  background-color: #343a40;
  color: white; 
  /*Using web dev tools got padding of header and matched in footer - 8px 16px.*/
  padding: 8px 16px; 
}


/*
.container__horse {
  margin-top: 3em !important;
  width: 100vw; 
  margin: auto; 
}*/

/*
.horse__margin {
  padding-right: 3em;
  padding-left: 3em;
}*/

/*
div.card {
  display: flex; 
  flex-direction:row-reverse!important; 
}

.container-horse {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}


/*img {
  max-width: 100%; 
  height: auto;  
}*/
.horsing {
  flex-basis: 40%;  
}

.text-horse {
  font-size: 20px;
  text-align: center; 
  display: flex; 
  align-self: center; 
  
  
}

/*attempted to align button as couldn't align with card-deck.  Other option is to put button somewhere else. 
.card-footer-align { 
  padding-top: 2.4em!important; 
}

Fixed by putting button below the image and above the title*/
  
  
