* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  scroll-padding-top: 5rem;
  /* anchor links scroll to right position - 5rem offsets fixed navbar */
  scroll-behavior: smooth;
}

/* body {
  background-color: #FAF9F6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

} */

header {
  width: 100%;
}

main {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #FAF9F6;
  flex: 1 0 auto;
}

/* Navbar and Carousel */

/* Links navbar */

/*Edit Bootstrap template: Change links colour to white as contrast not accessible*/

/*Change font of links and add dropdown-menu. Remove search box*/

.navbar-brand {
  color: #FAF9F6;
}

.nav-link-font,
dropdown-menu {
  font-family: 'Roboto', verdana, sans-serif;
}

.nav-link {
  color: #dddddd !important;
}

a.nav-link:hover {
  color: white !important;
  text-decoration: none;
  font-weight: bold;
}

/* Contrast of navbar toggler is too low - attempted to change */
/* tried adding new class to toggler and targeting background of toggler */
/* unable to change. In future would not use bootstrap navbar template */
/* Would replace toggler with font awesome icon and style */


/* Hero images and Bootstrap Carousel */

.img__hero {
  margin-top: 3rem !important;
}

h1 {
  font-size: 3rem;
}

.h2--slide2 {
  margin-top: 0.5em;
}

/* Saving for if decide to change colour of indicators. 
.carousel-indicators {
  color: blue; 
}*/

.carousel__background {
  background-color: #FAF9F6;
}

/* Changed text alignment on carousel using code snippet and altered percentages */
/* from: https://forum.bootstrapstudio.io/t/positioning-of-carousel-caption/4727/2 */

.carousel-caption {
  width: 200px;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50%;
  right: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#title {
  width: 200px;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50%;
  right: 65%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#caption-slide2 {
  width: 200px;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 45%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#caption-slide3 {
  width: 200px;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 60%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* alternative image and text for xs screens */
/* guidance from: https://www.w3schools.com/howto/howto_css_hero_image.asp */

.section--image {
  background-image: url("https://i.postimg.cc/769pFBYT/sunrise-mist-500-x-202.jpg") !important;
  background-color: orange;
  height: 17rem;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero__text__sm {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header__text__sm {
  font-size: 2.2rem;
}

/* Intro Section */

.welcome--title {
  font-size: 1.4rem;
}

.welcome--card {
  background: #d8d9db;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.para__ws__description {
  text-align: left;
}


.img--welcome--card {
  background: #d8d9db;
  margin-top: 1rem;
}

.welcome--text {
  background: #d8d9db;
  /* overflow: hidden; */
  margin: 1.5rem;
  text-align: center;
}

.img__penb__profile {
  width: 10rem;
  height: auto;
  margin-bottom: 0rem;
  margin-top: 1.5rem;
}

.learnmore__links {
  text-align: center;
  color: #0017E6 !important;
  text-decoration: none;
  font-weight: normal;
}

a.details--link:hover {
  color: #0017E6;
  font-weight: normal;
  text-decoration: none;
}

/* Workshops Cards Intro */

.section__workshops__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.workshops--card--wrapper {
  background-color: #FAF9F6;
  margin-top: 1rem;
}

.workshops--card {
  text-align: center;
  min-width: 15rem;
  position: relative;
  margin: 2rem 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: white;
}

.workshop__card__content {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

a.btn--workshops:hover {
  text-decoration: none;
}

a.workshop__card__content:hover {
  text-decoration: none;
}

.btn__ws__hover:hover {
  font-weight: bold;
}

.workshop__card__content div {
  height: 12rem;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img--card--horse {
  background-image: url("https://i.postimg.cc/R06vhZFX/bad-hair-day-500-x-500-46-3kb.jpg");
}

.img--card--mushroom {
  background-image: url(https://i.postimg.cc/vZg4kkBZ/mushroom-pen-b-500-x-500.jpg);
}

.img--card--orchid {
  background-image: url(https://i.postimg.cc/W3W710wp/Orchid-500-x-500.jpg);
}

.img--card--autumn {
  background-image: url(https://i.postimg.cc/k57NNTjX/autumn-leaves-road-500-x-500.jpg);
}

.workshop--title {
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
  color: black;
}

.btn--workshops {
  background-color: #343a40;
  width: 100%;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 0.4rem;
}

/* Workshops Section */

.title__details,
.title__details__smaller {
  text-align: center;
}

.title__details {
  margin-top: 2rem;
}

.title__details__smaller {
  margin-bottom: 1.25rem;
}

.h2__ws__title {
  margin-top: 1rem;
}

.workshop__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__allday {
  height: 20em;
}

.workshop--img {
  height: 100%;
  width: auto;
}

.description__workshop {
  text-align: center;
}

.list__features {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ***MEDIA QUERY*** */
@media only screen and (min-width: 500px) {
  .workshop__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* MEDIA QUERY END */

/* ***MEDIA QUERY*** */
@media screen and (min-width: 1500px) {

  .workshop__container {
    margin-top: 2rem;
    margin-left: 14rem;
    margin-right: 14rem;
  }
}

/* ***MEDIA QUERY END*** */


/* About the Photographer Section */

.about--card {
  background: #d8d9db;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  margin-top: 0.75rem;
}

.thephotographer__title {
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 0rem;
}

.penb--description {
  text-align: left;
}

.img--penb {
  width: 10rem;
  height: auto;
  margin-bottom: 0rem;
  margin-top: 1.5rem;
}

.img--about--card {
  margin-bottom: 0rem;
}

/* Embedded Youtube */

.youtube__outer__box {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.youtube--container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p__youtube {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  text-align: center;
}


/* ***MEDIA QUERY*** */
@media only screen and (min-width: 768px) {
  .youtube__outer__box {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }

  .p__youtube {
    padding-top: 1.6rem;
    padding-bottom: 2rem;
  }
}

/* MEDIA QUERY END */

/* Contact Form Section */

.register--page {
  background-color: #FAF9F6;
  height: 100vh;
}

.section--sign-up-form {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #FAF9F6;
  margin-top: 3rem;
}

.signup--form {
  background-image: url("https://i.postimg.cc/52GgHYJm/butterfly-500-x-500.jpg");
  background-color: #343a40;
  height: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 4rem 1rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 6vw;
  padding-right: 6vw;
}

.registration--text {
  text-align: center;
  font-weight: bold;
  color: white;
}

p.registration--text {
  font-size: 1.3rem;
}

.select--btn {
  padding: 0.3rem;
  text-align: center;
  background-color: rgba(250, 249, 246, 0.7);
}

/* style input boxes*/
.input__signup {
  padding: 0.3rem;
  font-family: tahoma;
  background-color: rgba(250, 249, 246, 0.7);
  border: none;
}

.select__workshops {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: center;
  /* font-family: tahoma; */
}

.button__submit {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.btn--form {
  padding: 0.5rem;
  border: none;
  background-color: rgba(250, 249, 246, 0.7);
  font-weight: bold;
}

/* Style Response */

.signup--form__response {
  background-image: url("https://i.postimg.cc/3RGcrjDp/sunrise-mist-500-x-500.jpg");
  background-color: #343a40;
  height: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 4rem 1rem;
}

.response__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.response--text {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.button__response {
  text-align: center;
  font-size: 1rem;
}

.btn--form__response {
  padding: 0.5rem;
  border: none;
  background-color: rgba(250, 249, 246, 0.4);
  font-weight: bold;
}

  /* Footer */

  .footer {
    position: relative;
    background-color: #343a40;
    color: white;
    /* Using web dev tools got padding of header and matched in footer - 8px 16px.
  padding: 8px 16px; */
    padding: 8px 16px;
    width: 100%;
  }

  .footer--container {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .footer__flexcontainer {
    display: flex;
    flex-direction: column;
  }

  .footer__penbphotography {
    margin-top: 0.75rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .footer__title {
    width: 50%;
    letter-spacing: 0.1rem;
    line-height: 1.7rem;
  }

  .footer--links {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
  }

  .footer--links a,
  .footer__title a {
    color: #dddddd;
  }

  a.footer__page__links:hover {
    color: white !important;
    text-decoration: none;
  }

  a.footer__page__link:hover {
    color: white !important;
    text-decoration: none;
  }

  .footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__copyright {
    position: absolute;
    bottom: 0.7rem;
    left: 0.5rem;
  }

  /* ***MEDIA QUERY*** */
  @media screen and (min-width: 1200px) {

    .margin__larger-screen {
      margin-left: 6rem;
      margin-right: 6rem;
    }

    .section--welcome--wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 1.25rem;
      margin-bottom: 3rem;
    }

    .welcome--card {
      max-width: 50vw;
    }

    .section--about--wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 0rem;
      margin-bottom: 3rem;
    }

    .about--card {
      margin-top: 2rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 60vw;
      height: auto;
      padding-bottom: 0;
    }

    .penb--description {
      padding-top: 0;
      padding-bottom: 0.5rem;
      margin-bottom: 0;
    }

    .img--about--card {
      margin-left: 1.75rem;
      align-self: flex-start;
    }

    .img--penb {
      vertical-align: center;
      width: 10rem;
      height: auto;
    }
  }

  /* ***MEDIA QUERY END*** */

  /* ***MEDIA QUERY*** */
  @media only screen and (min-width: 768px) {

    .welcome--card {
      margin-top: 2rem;
      margin-bottom: 1.6rem;
    }

    .para__ws__description {
      margin-left: 6rem;
      margin-right: 6rem;
    }
  }

  /* ***MEDIA QUERY END*** */